<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta viewport="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <link href="res/main.css" id="css-globals" rel="stylesheet">
    <script src="res/vendor.js"></script>
    <script src="res/main.js" async></script>
    <title>Redcastle</title>
  </head>

  <body>
    <div id="root"></div>
  </body>

</html>
