@use '../core/variables' as *;

nav#main > ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-left: 0;

  & a {
    color: $grey-ultralight;
    display: block;
  }

  & li {
    cursor: pointer;
    display: inline-block;
    list-style-type: none;
  }

  & i[class^=ri-] {
    display: block;
    font-size: $toolbar-icon-size;
    line-height: $toolbar-icon-size;
  }
}
