@use 'colors' as *;

@media (prefers-color-scheme: dark) {

  .ms-Fabric {
    background-color: map-get($themeDark, 'primary');
  }

  .ms-Fabric > .ms-FocusZone {
    background-color: map-get($themeDark, 'secondary');
    color: #fff;
  }

  nav.ms-Nav {

    & .ms-Nav-compositeLink {

      &.is-selected button {
        background-color: map-get($themeDark, 'selected' )
      }

      &:hover button {
        background-color: map-get($themeDark, 'primary');
      }

      & button {
        background-color: map-get($themeDark, 'secondary');
        color: #fff;
      }
    }
  }
}
