.video-list {
  display: block;
  height: inherit;
  overflow: auto;

  & .video-list-item {
    display: block;

    & .video-list-item-title {
      display: block;
      font-weight: bold;
    }
  }

}
