@use 'variables' as var;

@media (prefers-color-scheme: dark) {

  body {
    color: var.$dark-bg;
  }

  .pane {
    border-left: 1px solid var.$dark-border-clr;
    background-color: var.$dark-pane-bg;
  }

  .nav-group {

    & .nav-group-item {
      color: #fff;

      &:active, &.active {
        background-color: rgba(255, 255, 255, 0.2);
      }

      & .icon {
        color: var.$dark-icon-clr;
      }
    }

  }

  .title {
    color: var.$dark-toolbar-clr;
  }

  .toolbar {
    background-color: var.$dark-toolbar-bg;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, var.$dark-toolbar-bg), color-stop(100%, var.$dark-toolbar-bg-gdnt));
    background-image: -webkit-linear-gradient(top, var.$dark-toolbar-bg 0%, var.$dark-toolbar-bg-gdnt 100%);
    background-image: linear-gradient(to bottom, var.$dark-toolbar-bg 0%, var.$dark-toolbar-bg-gdnt 100%);
  }

  .toolbar-header {
    border-bottom: 1px solid var.$dark-border-clr;
  }

  .window {
    box-shadow: inset 0 0 0 1px rgba(137, 138, 139, 0.4);
  }

}
