$dark-bg: #dededf;
$dark-border-clr: #050505;
$dark-icon-clr: #adacad;
$dark-nav-head-clr: #b2b3b4;
$dark-pane-bg: #292a2b;
$dark-toolbar-bg: #4a4b4c;
$dark-toolbar-bg-gdnt: #3a3a3b;
$dark-toolbar-clr: #c4c5c6;
