// DARK THEME
$dark-bg: #dededf;
$dark-border-clr: #050505;
$dark-icon-clr: #adacad;
$dark-nav-head-clr: #b2b3b4;
$dark-pane-bg: #292a2b;
$dark-toolbar-bg: #4a4b4c;
$dark-toolbar-bg-gdnt: #3a3a3b;
$dark-toolbar-clr: #c4c5c6;

// MEDIA QUERIES
$media-queries: (
  sm: 'only screen and (max-width: 700px)',
  md: 'only screen and (min-width: 701px) and (max-width: 1000px)',
  lg: 'only screen and (min-width: 1001px)',
  r2: 'only screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)',
  r3: 'only screen and (-webkit-min-device-pixel-ratio: 3) and (min-resolution: 288dpi)',
  pt: 'screen and (orientation:landscape)',
  ls: 'screen and (orientation:landscape)'
) !default;
